# Watson's texdoc.cnf
# Author: wtsnjp
# Website: https://wtsnjp.com
# Source: https://github.com/wtsnjp/dotfiles

##### personal preference #####

# general
lang = ja
viewer_md = open

# alias
alias cheat = platexsheet-jsclasses
alias kpse = kpathsea
alias l3 = source3
alias sym = symbols-a4
alias tl = texlive-ja
alias title = titlepages
